*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.result{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;

}
table{
    position: absolute;
    z-index: 2;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:60%;
    border-collapse: collapse;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: white;
    text-align: center;
}
th,td{
    padding: 20px ;
}
th{
    background: rgb(44, 234, 241);
    color: rgb(16, 16, 16);
    text-transform: uppercase;
    padding: 20px 20px;
}
td{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 20px;
}
tr:nth-child(odd){
    background-color: aliceblue;
}
tr{
    padding-bottom: 10px;
}