*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    min-width: 100vh;
}
body{
    height: 100vh;
    display:flex;
    background:rgb(211, 221, 218);
    align-items: center;
    justify-content: center;
    display: flexbox;
    color: aliceblue;

    
}