nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
}     
nav .brand a{
    color: #1a1817;
    text-decoration:none;
    font-size: 1.4rem;
    font-weight: bold;
}
nav ul{
    display: flex;                  /*for aligning the nav bar elements*/
}    
  
nav ul li{
    list-style: none;
    margin: 0 10px;             /*spacing between the nav bar elements*/
}
nav ul li a{
    text-decoration:none;
    color: rgb(2, 12, 39);
    padding: 5px;
    position: relative;
}
nav ul li a:hover{   
    color: rgb(41, 52, 206);          /*when placing the cursor over the nav bar elements colour changes from black to blue*/
}                            
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(6, 10, 236);
    position: absolute;          /*underline*/
    bottom: 0;
    left: 0;
    transform:scaleX(0);
    transition: .3s ease-in-out;

 
}
nav ul li a:hover::after{
    transform: scaleX(1);            /*the underline will only come aftering hovering over the elements ,(1)-indicates the length of the line along xaxis*/
}
nav .fa{
    color: #121111;
    font-size: 2rem;
    display: none;
}